body {
    font-family: Arial, sans-serif;
}

#sidebar {
    width: 250px;
    background-color: #f4f4f4;
    padding: 10px;
    border-right: 1px solid #ccc;
}

.folder, .file {
    padding-left: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.file-icon, .folder-icon {
    margin-right: 5px;
    width: 16px;
    height: 16px;
}

.add-file {
    color: green;
    margin-left: auto;
    cursor: pointer;
}

.add-folder-btn, .add-file-btn {
    /* background-color: #007acc; */
    color: white;
    border: none;
    padding: 8px;
    width: auto;
    /* text-align: right; */
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 10px;
    right:0;
}

.add-folder-btn:hover, .add-file-btn:hover {
    background-color: #c2bdbc;
}

.collapsible {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease, padding 0.3s ease;
}

.collapsible.open {
    max-height: 1000px; 
    padding-left: 10px; 
}

.button-container {
    display: flex;
    gap: 8px;
    padding: 8px;
    border-bottom: 1px solid #eee;
}

.button-container button {
    padding: 4px;
    cursor: pointer;
    background: none;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.button-container button:hover {
    background-color: #f5f5f5;
}

.button-container button.active {
    background-color: #e0e0e0;
}

.sidebar-content {
    padding: 8px;
}
